<h3>Welcome <%= current_user.email %>, this is your RailStocks dashboard.  Use this to customize your RailStocks experience.</h3>








<h4><a class="btn btn-info" href="/portfolios_path">Take me to RailStocks</a></h4>