<%= link_to "Register", new_user_registration_path %>  or  <%= link_to "Log In", new_user_session_path %>

</br>
<h2>NSS - Part 2, Ruby on Rails </h2> 
<h4>A Stock Portfolio and Research App, by Viraj Parikh</h4>
</br>

<h4> RailStocks is a portfolio management and research tool that enables a user to create a stock portfolio, retrieve important analytical data points (from Yahoo! Finance) for each company, and have important valuation and momentum metrics summarized. </br> </br>
Other features include StockTwits functionality, a S&P 500 "heat map" and an investor education page that comprises of a comprehensive reading list of timeless investment classics.</h4>
</br>
<p>To view RailStocks on Github, click <b><a href="https://github.com/virajparikh/RailStocks">here</a></b>.</p>