<h1>Welcome to RailStocks!</h1>

<h2>NSS - Part 2, Ruby on Rails </h2> 
<h4>Equity Research Project, by Viraj Parikh</h4>

<h4> A portfolio management and research app that enables a user to create a stock portfolio, retrieve important analytical data points (from Yahoo! Finance) for each company, and have important valuation and momentum metrics summarized. </br> </br>
Other features include StockTwits functionality, a S&P 500 "heat map" and an investor education page that comprises of a comprehensive reading list of timeless investment classics.</h4>
</br>
<b><a class="btn btn-info" href="https://github.com/virajparikh/RailStocks">View RailStocks on Github</a></b>